body {
  font-family: Arial, sans-serif;
  background-color: #ebeaff;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.5rem 5rem;
  border-bottom: #adadad 1px solid;
  display: flex;
  justify-content: space-between;
}

.logout {
  width: auto;
  height: auto;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 0;
}

.content {
  display: flex;
  padding: 0 5rem 5rem 5rem;
  gap: 1rem;
}